<%= javascript_pack_tag 'application' %>

<p id="notice"><%= notice %></p>
<section class="page">
  <article class="page__content three-cols">
    <header class="page__header">
      <h1>All Quizzes</h1>
    </header>

  </article>
</section>
