<p id="notice"><%= notice %></p>
<section class="page">
  <article class="page__content">
    <header class="page__header">
      <h1>All Quizzes</h1>
    </header>

    <% @quizzes.each do |quiz| %>
      <div class="card">
        <%= quiz.name %>
        <%= quiz.score %>
        <%= link_to 'Start', quiz %>
      </div>
    <% end %>
  </article>
</section>
