.pink {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 60px;
  background-color: var(--brand-pink);
  color: var(--white);
  a {
    font-weight: bold;
    font-size: 1.2em;
    text-decoration: none;
    color: currentColor;
    &:focus, &:hover {
      text-decoration: underline;
    }
  }
}

.brand {
  display: flex;
  align-items: center;
}
