h1, h2, h3, h4, h5 {
  font-weight: bold;
  line-height: 1.2;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2.07em
}

h3 {
  font-size: 1.7em;
}

h4 {
  font-size: 1.44em;
}

h5 {
  font-size: 1.2em;
}

p, a, ul li, ol li, span, strong, em {
  font-size: inherit;
  line-height: 1.5;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

a {
  text-decoration: underline;
  color: $brand-pink;
  &:focus, &:hover {
    text-decoration: none;
  }
}
