// Colours
$dusky-pink:     #BA628C;
$green:          #6D9862;
$orange:         #F28F3C;
$dark-grey-blue: #383848;
$white:          #F8F9F6;

$body-background: $dark-grey-blue;
$body-foreground: $white;

$brand-pink:      $dusky-pink;

$card-background: $white;
$card-foreground: $dark-grey-blue;

// Fonts
$body-font: 'Open Sans', sans-serif;

// CSS Variables used in CSS modules

:root {
  --brand-pink: #{$brand-pink};
  --white: #{$white};
  --dark-grey-blue: #{$dark-grey-blue};
}
