// Colours
$dusky-pink:     #BA628C;
$dark-grey-blue: #383848;
$white:          #F8F9F6;

$body-background: $dark-grey-blue;
$body-foreground: $white;

$brand-pink:      $dusky-pink;

// Fonts
$body-font: 'Open Sans', sans-serif;
