<header class="mainHeader">
  <%= link_to root_path, class: "mainHeader__brand" do %>
    <%= image_tag "logo.png", alt: "", height: 40 %>
    <span>Company X</span>
  <% end %>
  <%= link_to "All Quizzes", root_path %>
</header>
