.card {
  background-color: $card-background;
  color: $card-foreground;
  border-radius: 10px;
  padding: 15px;
  &__title {
    color: $brand-pink;
    font-size: 1.7em;
    margin-bottom: 0.5em;
  }
  .button {
    margin-top: 15px;
  }
}
