label {
  width: 100%;
  margin: 5px 0;
  display: inline-block;
  padding-left: 35px;
  line-height: 25px;
  background: $radio-unchecked left center no-repeat;
  background-size: 25px 25px;
}
input[type="radio"] {
  @include hidden_input;
  &:checked + label {
    background: $radio-checked left center no-repeat;
    background-size: 25px 25px;
  }
}
